<div class="container">
  <div class="row mt-4">
    <div class="col py-3 px-lg-5 border bg-danger mt-4">
         <h1>R$ 1,54</h1>
         <h2>O menor valor do d贸lar na era PT</h2>
         <small>26/07/2011</small>
    </div>
    <div class="col py-3 px-lg-5 border bg-danger mt-4">      
         <h1>R$ 4,05</h1>
         <h2>O maior valor do d贸lar na era PT</h2>
         <small>22/09/2015</small>
    </div>


  <div class="w-100"></div>
    
    <div class="col py-3 px-lg-5 border bg-warning  mt-4">
         <h1>R$ 3,72</h1>
         <h2>O menor valor do d贸lar na era Bolsonaro</h2>
         <small>22/09/2015</small>
    </div>
    
    <div class="col py-3 px-lg-5 border bg-warning  mt-4">      
         <h1>{{USD}}</h1>
         <h2>O d贸lar atual</h2>
    </div>

</div>
</div>