<div class="container">
        <div class="cont-pt-baixo">
           <h1>R$ 1,54</h1>
           <h2>O menor valor do d贸lar na era PT</h2>
           <small>26/07/2011</small>
        </div>
        <div class="cont-pt-alto">
            <h1>R$ 4,05</h1>
           <h2>O maior valor do d贸lar na era PT</h2>
           <small>22/09/2015</small>
        </div>
        <div class="cont-bolsonaro-baixo">
            <h1>R$ 3,72</h1>
           <h2>O menor valor do d贸lar na era Bolsonaro</h2>
           <small>22/09/2015</small>
        </div>
        <div class="cont-bolsonaro-atual">
            <h1>R$ {{USD}}</h1>
           <h2>O d贸lar atual</h2>
        </div>
    </div>
     

